/*--------------------------------------------------------------
#                   Global Layout For the Whole Website
--------------------------------------------------------------*/
html,
body {
  position: relative;
  margin: 0px;
  font-family: Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
  background: #f1ecec;
}
h1,
h3 {
  font-weight: 700;
  line-height: 1.25em;
}
p {
  line-height: 2em;
}
a:hover {
  color: #b1040e !important;
  text-decoration: none;
}
/* menu */
.dropdown-menu{
  background-color: #b1040e;
}

.dropdown-item{
  color:white;
}
.dropdown-menu > a:hover {
    color:blue !important;
    background: #b1040e;
    font-size: 23px;
}
/* end menu */
/*--------------------------------------------------------------
#                   My Own Framework
#                 any css can be used in the whole website
--------------------------------------------------------------*/
.text-center {
  text-align: center;
  margin-bottom: 5%;
  padding-top: 40px;
  letter-spacing: -0.85px;
  font-weight: 900;
  line-height: 1.25em;
}

.text-center-small {
  text-align: center;
  margin-bottom: 5% !important;
  font-weight: 900;
  line-height: 0.5em;
  padding-top: 30px;
}

/*--------------------------------------------------------------
#                   override bootstrap css classes
--------------------------------------------------------------*/
.breadcrumb {
  /* not using it yet! */
  background-color: lightgray !important;
}
.bg-success {
  color: #fff;
  background-color: #b1040e !important;
}
.btn-success,
.btn-success:hover,
.btn-success:active,
.btn-success:visited,
.btn-success:focus,
.btn-primary:active:focus {
  background-color: #b1040e !important;
  border-color: #b1040e !important;
  background-image: none;
}

a,
a:hover {
  color: white;
}
/*--------------------------------------------------------------
#               Index Page
#               Nav Welcome
--------------------------------------------------------------*/
.navbar a:hover {
  color: white !important;
}
.navbar-expand-sm .navbar-nav .nav-link {
  padding-right: 1.7em;
}
.navbar-brand span {
  border-right: 2px double #4cff75;
  padding-right: 10px;
}
.navbar-brand {
  margin-left: 1.5em;
}

/*--------------------------------------------------------------
#               Index Page
#               Image Background
--------------------------------------------------------------*/
.header-picture {
  height: 30em;
  width: auto;
  background-image: url("../images/cos.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.elearning-picture {
  height: 30em;
  width: auto;
  background-image: url("../images/elearning/elearning.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/*--------------------------------------------------------------
#               Index Page
#               Deab Welcome
--------------------------------------------------------------*/
.dean {
  padding: 60px 0 30px 0;
}
.dean .wrapper {
  font-size: 20px;
  padding-left: 20px;
  margin-top: 110px;
}
.dean h2 {
  font-size: 26px;
  font-weight: 700;
  color: #000;
}
/*--------------------------------------------------------------
#               Index Page
#               Departments
--------------------------------------------------------------*/

#departments {
  padding: 60px 0 30px 0;
}

#departments .department {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}

#departments .department .details {
  background: rgba(6, 12, 34, 0.76);
  position: absolute;
  left: 0;
  bottom: -30px;
  right: 0;
  text-align: center;
  padding-top: 10px;
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

#departments .department .details h3 {
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
}

#departments .department .details p {
  color: #fff;
  font-size: 15px;
  margin-bottom: 10px;
  font-style: italic;
}

#departments .department .details .social {
  height: 30px;
}

#departments .department .details a {
  color: #fff;
}

#departments .department .details a:hover {
  color: #f82249;
}

#departments .department:hover .details {
  bottom: 0;
}

/*--------------------------------------------------------------
#               Events & Activities
--------------------------------------------------------------*/
#events {
  padding-bottom: 60px !important ;
}
.events-box {
  position: relative;
  display: block;
  max-width: 650px;
  max-height: 300px;
  margin: 0% 1% 5%;
}
.events-box .events-box-caption {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: #b1040e;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.events-box .events-box-caption .events-box-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}

.events-box .events-box-caption .events-box-caption-content .project-category {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.events-box .events-box-caption .events-box-caption-content .project-name {
  font-size: 18px;
}

.events-box:hover .events-box-caption {
  opacity: 1;
}

/*--------------------------------------------------------------
#               Department (departments.html)
--------------------------------------------------------------*/
#department {background: #f1ecec !important;}
.profile-card-2 {margin-bottom: 4%;}
.profile-card-2 .card-img-block {
  float: left;
  width: 100%;
  min-height: 100px;
  overflow: hidden;
}
.profile-card-2 .card-body {position: relative;}
.profile-card-2 .card-body a,a:hover {color: white;}
.changecolor a:hover {color: white !important;}
.profile-card-2 .profile {
  border-radius: 50%;
  position: absolute;
  top: -42px;
  left: 15%;
  max-width: 75px;
  border: 3px solid rgba(255, 255, 255, 1);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}
.profile-card-2 h5 {
  font-weight: 600;
  color: #b1040e;
}
.profile-card-2 .card-text {
  font-weight: 300;
  font-size: 15px;
  overflow: hidden;
}

/*--------------------------------------------------------------
#               Index Page
#               Students
--------------------------------------------------------------*/
figure .student-picture {
  max-height: 17em !important;
  width: 100% !important;
}
#students h2 {
  padding-top: 0px;
}
#students p {
  padding-top: 7px;
}
#students a {
  color: #b1040e !important;
}

/*--------------------------------------------------------------
#               Index Page
#               Research
--------------------------------------------------------------*/
#research {
  width: 100%;
  margin-bottom: 18px;
}
#research .card-body h5 {
  color: #b1040e;
}
#research .card-body a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
#research .card-body a:hover {
  color: royalblue;
}
/*--------------------------------------------------------------
#               Index Page
#               Contact us 
--------------------------------------------------------------*/

#contact {
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 4px;
}

#contact .contact-about h3 {
  font-size: 36px;
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #1dc8cd;
}

#contact .contact-about p {
  font-size: 14px;
  line-height: 24px;
  font-family: "Montserrat", sans-serif;
  color: #888;
}

#contact .social-links {
  padding-bottom: 20px;
}

#contact .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #fff;
  color: #1dc8cd;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  border: 1px solid #1dc8cd;
}

#contact .social-links a:hover {
  background: #1dc8cd;
  color: #fff !important; /* overriding my framework */
}

#contact .info {
  color: #333333;
}

#contact .info i {
  font-size: 32px;
  color: #1dc8cd;
  float: left;
  line-height: 1;
}

#contact .info p {
  padding: 0 0 10px 42px;
  line-height: 28px;
  font-size: 14px;
}

#contact .form #sendmessage {
  color: #1dc8cd;
  border: 1px solid #1dc8cd;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #sendmessage.show,
#contact .form #errormessage.show,
#contact .form .show {
  display: block;
}

#contact .form .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#contact .form input,
#contact .form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

#contact .form button[type="submit"] {
  background: linear-gradient(45deg, #1de099, #1dc8cd);
  border: 0;
  border-radius: 20px;
  padding: 8px 30px;
  color: #fff;
}

#contact .form button[type="submit"]:hover {
  cursor: pointer;
}
/*--------------------------------------------------------------
#               Index Page
#               Footer
--------------------------------------------------------------*/
footer {
  background-color: #eee;
  padding: 15px;
  font-size: 20px;
}
h6 {
  text-align: center;
  padding-top: 15px;
}
.fa-heart:before {
  color: #b1040e;
}
.four-404 {
  color: #b1040e;
}
/* Index Page Ends Here! */

/* 
/* Computer Science Department Page Starts Here!*/ 

/*--------------------------------------------------------------
#                   CS Section
#                   Events Section
--------------------------------------------------------------*/
#department-event {
  padding-bottom: 5%;
}

#department-event .block-event img {
  width: 100%;
}

#department-event .block-event .content-blog {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 4px 0 rgba(0, 0, 0, 0.19);
  display: inline-block;
  min-height: 125px;
  padding: 20px 10px;
  width: 100%;
}

#department-event .block-event .content-blog h4 {
  line-height: 24px;
  margin-bottom: 20px;
  text-transform: capitalize;
  font-weight: normal;
  letter-spacing: 0;
  font-size: 16px;
}

#department-event .block-event .content-blog h4 a {
  color: #555;
  text-decoration: none;
  transition: 0.3s;
}

#department-event .block-event .content-blog h4 a:hover {
  color: #71c55d;
}

#department-event .block-event .content-blog > span {
  float: left;
  font-size: 12px;
}

#department-event .block-event .content-blog a.readmore {
  color: #505050;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
  letter-spacing: 0;
  text-transform: capitalize;
}

#department-event .block-event .content-blog a.readmore:hover {
  color: #71c55d;
}

/* BACKGROUND */
#department-cs-background {
  height: 25em;
  width: auto;
  background-image: url("../images/departments/cs/cs.JPG");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*--------------------------------------------------------------
#                   Sections
--------------------------------------------------------------*/

.section-title {
  margin-bottom: 40px;
  padding-top: 0px;
}

@media (max-width: 992px) {
  .section-title {
    margin-bottom: 40px;
  }
}

.section-title h2 {
  font-family: "Roboto", sans-serif;
  font-size: 45px;
  font-weight: 100;
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.section-title .separator {
  margin: 0;
}

.separator {
  color: #626262;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 30px;
  text-transform: capitalize;
}
/*--------------------------------------------------------------
#                   Get Started Section
--------------------------------------------------------------*/
#get-started {
  display: inline-block;
  height: 100%;
  width: 100%;
}

#get-started .feature-block {
  background: #fff none repeat scroll 0 0;
  padding: 30px 20px;
  transition: all 0.5s ease-in-out 1.3s;
}

#get-started .feature-block:hover {
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out 0s;
}

#get-started .feature-block h4 {
  margin-bottom: 20px;
}

#get-started .feature-block p {
  margin-bottom: 20px;
}

#get-started .feature-block a {
  color: #505050;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.3s;
}

#get-started .feature-block a:hover {
  color: #71c55d;
}
/* cs contact us  */

.text-center p a {
  color: #b1040e;
}
hr {
  max-width: 30%;
  border-width: 3px;
  border-color: #b1040e;
  margin-bottom: 3%;
}
/* Our People */
/* 
--------------------------------*/
.teamhandller {
  padding-top: 0px !important;
}
#team .team-block {
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  height: 254px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

#team .team-block img {
  width: 100%;
}

#team .team-block .team-content {
  background: #fff none repeat scroll 0 0;
  bottom: 0;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.19);
  bottom: -147px;
  padding: 20px 0;
  position: absolute;
  width: 100%;
  transition: all 0.5s ease-in-out 0s;
}

#team .team-block .team-content ul {
  display: block;
  width: 100%;
}

#team .team-block .team-content ul li {
  display: inline-block;
}

#team .team-block .team-content ul li a {
  color: #626262;
}

#team .team-block .team-content ul li a .fa {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  transition: 0.3s;
}

#team .team-block .team-content ul li a .fa:hover {
  color: #71c55d;
}

#team .team-block .team-content ul > span {
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

#team .team-block:hover .team-content {
  bottom: 0px;
  transition: all 0.5s ease-in-out 0s;
}
/*--------------------------------------------------------------
#               elearning Page
#               Nav Welcome
--------------------------------------------------------------*/
.elearning-text h1 {
	text-align: left;
	color: white;
	padding-left: 40px;
    padding-top:90px;

}

.elearning-text h5 {
    color:white;
    padding-top:20px;
    padding-left:40px;
}
/*--------------------------------------------------------------
#               elearning Page
#               login Page
--------------------------------------------------------------*/
.login-page h1 {
    color:#c0c0c0;
  }

  .login-page h1 span {cursor:pointer;}
  .login-page form {
    max-width:380px;
    margin:auto;
  }
  .login-page .signup {display:none; }
  .login-page [data-class="login"].selected{
    color: #b1040e;
  }
  .login-page [data-class="signup"].selected{
    color:#b1040e;
  }
  .login-page [data-class="switch"] {
    color: #ff4b4b ;
  }
  .login-page form input {margin-bottom:10px;}
  .login-page .selected {color: #b22020;}
  .login-page .signup {display: none;}
  .login-page form , .the_errors {
    max-width:380px;
    margin:auto;
  }
.center-h1-login {
  text-align: center;
  color: #d63d1a !important;
  padding-top:20px;
}
/*--------------------------------------------------------------
#               Dashboard Page
#               Cover Picture
--------------------------------------------------------------*/
.dahsboard-picture {
  height: 18em;
  width: auto;
  background-image: url("../images/elearning/javascript.gif");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.breadcrumb-main {
  margin-top:25px;
}
.breadcrumb a {
  color:#b1040e;
}

/*--------------------------------------------------------------
#               Courses Page
#               Courses Cards
--------------------------------------------------------------*/

.card-block a {
  color:white !important;
}
.card-block a:hover{
  color: white !important;
}

/*--------------------------------------------------------------
#               Dashboard Page
#               Clock Div
--------------------------------------------------------------*/
#clock{
  margin-left:40%;
}
/*--------------------------------------------------------------
#               Student Page
#               Cover Pic
--------------------------------------------------------------*/
.students-picture {
  height: 30em;
  width: auto;
  background-image: url("../images/students/cover.png");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.list1{
  float: left;
  max-width: 450px !important;
  padding-left: 10%;
  padding-top: 7%;
  padding-bottom: 4%;
}
.list1 a {
  color: black !important;
}
.list1 a:hover{
  color:#b1040e !important;
}
.club-text {
  float: right;
  max-width: 600px;
  margin-right: 60%;
  padding-top: 7%;
  padding-bottom: 4%;
}
.footer{
  clear: both;
}